.main-event
  %strong.chicklet
    = event.type || "Post"
  %p.info
  %h1= event.title
  - if event.type == "Event"
    .event-meta
      .presenting
        %em Presenting
        = event.presenter
      .date
        %em 
          = event.start_time.to_s :long_ordinal_12hour
        at
        = link_to event.location.name, location_url(event.location)
  .post-content
    = textilize event.body