= error_messages_for :post

- form_for(@post) do |f|
  %p
    = title_label
    = f.text_field :title
  %p
    = body_label
    ~ f.text_area :body
  %p
    = tags_label
    = f.text_field :tag_list
  %p
    = is_published_label
    = f.check_box :is_published
  %p
    = f.submit "Submit"
