.post
  = format_date_long(post.created_at)
  %h2.title= link_to post.title, post
  .post-content
    = textilize post
    #tools
      = link_to "#{post.comments.length} comments", comments_for_post_path(post.id)
      &ndash;
      %a{:href => "#"} permalink