
#posts
  = render :partial => 'post', :locals => {:event => @post}

%a{:name => 'comments'}
.comments
  - @post.comments.each do |c|
    .comment
      » on
      %em= c.created_at.to_formatted_s :long
      - if c.url
        = link_to c.name, c.url
      - else
        = c.name
      says:
      =#%img{ :src => '/images/gravatar.jpg', :width => 40, :height => 40 , :class => 'gravatar' }
      = gravatar_for c, :default => 'wavatar'
      = textilize c.comment

%fieldset
  %legend Voice Your Opinion!
  - form_for([@post, Comment.new], :html => {:id => 'comment-submission'}) do |f|
    .comment-form
      %p
        #comment-something
          = label :comment_something, 'Do not fill this in, it is meant to be empty.'
          = f.text_field :comment_something
        = name_label
        = f.text_field :name, :size => 20
        = label :email, 'Email:'
        = f.text_field :email, :size => 20
      %p
        = url_label
        = f.text_field :url, :size => 54
      %p
        = comment_label
      %p
        = f.text_area :comment
      %p
        = submit_tag 'Post Comment'
