= render_partial 'post', @post

%a{:name => 'comments'}
.comments
  - @post.comments.each do |c|
    .comment
      - if c.url
        = link_to c.name, c.url
      - else
        = c.name
      says:
      %p.comment-body
        = c.comment

%fieldset
  %legend Voice Your Opinion!
  - form_for([@post, Comment.new], :html => {:id => 'comment-submission'}) do |f|

    %p
      .form-field
        = label :name, 'Name:'
        = f.text_field :name
      .form-field
        = label :email, 'Email:'
        = f.text_field :email
      .form-field
        = label :url, 'URL:'
        = f.text_field :url
      .form-field
        = f.text_area :comment
        = submit_tag
