= render_partial 'post', @post

- form_for([@post, Comment.new], :html => {:id => 'comment-submission'}) do |f|
/
  %p
    .form-field
      = #label :name, 'Name:'
      = #f.text_field :name
      = #f.text_field :email
      = #f.text_field :url
      = #f.text_area :body

- end