!!! strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      faithfulgeek.org
    %meta{ :name => "author", :content => "Joe Fiorini" }/
    %link{ :href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css" }/
    %link{ :href => "/stylesheets/site.css", :rel => "stylesheet", :type => "text/css" }/
    = feedburner_link_tag :faithfulgeek
    - if @extra_stylesheet
      %link{ :href => "/stylesheets/#{@extra_stylesheet}", :rel => "stylesheet", :type => "text/css" }
    / Date: 2008-03-07
  %body
    #header
      - if @current_user
        #welcome_message
          = "Logged in as: " + @current_user.name
          = link_to 'Logout', logout_url
      %h1#page-title
        %a{ :href => "/" }
          faithfulgeek.org
    #main
      #wrapper
        #page-content
          = yield
      #footer
        &copy;2008 Joe Fiorini - creative commons license
